let mapleader=" "
set clipboard^=unnamedplus,unnamed
set incsearch
set hlsearch
set ignorecase
set smartcase
set idearefactormode=keep
set visualbell
set noerrorbells
set ideajoin
set ideastatusicon=gray

source ~/.vimrc
source ~/.lazyideavim

" Plugins
Plug 'terryma/vim-multiple-cursors'
" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
" Feel free to pick your own mappings that are not affected. I like to use <leader>
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

set surround
set commentary
set easymotion

noremap <leader>j mm`m:action GotoNextError<CR>
noremap <leader>k mm`m:action GotoPreviousError<CR>
nnoremap U <C-r>
noremap <silent> <leader>h :nohlsearch<CR>
nnoremap x \"_x
nnoremap s \"_s
nnoremap <silent> zj o<Esc>k
nnoremap <silent> zk O<Esc>j
vnoremap < <gv
vnoremap > >gv
nnoremap gp `[v`]
map w [w
map e ]w
map H 0
map L $
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
" Easymotion
map s <Plug>(easymotion-bd-f)
" Splitted editors
map <C-h> <C-w>h
map <C-l> <C-w>l
nmap <leader>| <Action>(SplitVertically)
map <leader>\ <Action>(Unsplit)
nnoremap <leader>ve :e ~/.ideavimrc<CR>

nnoremap <leader>cd :action ShowErrorDescription<CR>
nnoremap <leader>ss mm`m:action FileStructurePopup<CR>

""""""""""""""""""""""""""""""""""""""Refactoring""""""""""""""""""""""""""""""""""""""
nnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
noremap <leader>re :action RenameElement<CR>
vnoremap <leader>su :action SurroundWith<CR>
noremap <leader>oi :action OptimizeImports<CR>
noremap <leader>ps :action ShowProjectStructureSettings<CR>
nnoremap <leader>ge :action Generate<CR>
""""""""""""""""""""""""""""""""""""""Utilities""""""""""""""""""""""""""""""""
nnoremap <leader>ca :action ShowIntentionActions<CR>
vnoremap <leader>ca :action ShowIntentionActions<CR>

sethandler <c-a> a:ide
sethandler <c-x> a:ide
sethandler <c-f> a:ide
sethandler <c-p> a:ide
sethandler <c-n> a:ide n:vim v:vim
sethandler <c-e> a:ide
sethandler <c-l> a:ide n:vim
sethandler <c-k> a:ide
sethandler <c-h> a:ide n:vim
sethandler <c-j> a:ide
sethandler <c-b> a:ide
sethandler <c-g> a:ide
sethandler <a-p> a:ide
sethandler <c-v> a:ide
sethandler <c-c> a:ide
sethandler <c-t> a:ide
sethandler <c-d> a:ide
"" Vim handlers
sethandler <c-s> a:vim
sethandler <c-w> a:vim
sethandler <c-o> n:vim
sethandler <c-i> n:vim
sethandler <c-r> a:vim
sethandler <m-n> a:vim
