@define-color text #cdd6f4;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Roboto Mono Nerd Font';
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

.modules-right {
  /* background-color: @mantle; */
  background-color: @transparent;
}

#workspaces {
  font-size: 18px;
  /* background-color: @mantle; */
  background-color: @transparent;
}

#workspaces button {
  border-radius: 0px;
  margin: 0px 2px;
  padding: 0px 2px;
  /* background-color: @mantle; */
  background-color: @transparent;
  color: @text;
  min-width: 20px;
}

#workspaces button.active {
  color: @base;
  background-color: #f1f1a1;
}

#workspaces button:hover {
  /* box-shadow: inherit; */
  /* text-shadow: inherit; */
  color: @crust;
  background-color: @subtext1;
}

#workspaces button.urgent {
  background-color: @red;
}

#memory,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#idle_inhibitor,
#cpu,
#custom-mediaplayer,
#temperature,
#language,
#tray {
  padding: 0px 4px;
  margin: 0px 2px;
  border-radius: 0px;
  /* box-shadow: 3px 3px 1px 1px alpha(@shadow, 0.7); */
  /* border: 2px solid @border; */
  /* background-clip: padding-box; */
  color: @text;
}

#temperature {
  /* background-color: @pink; */
}

#temperature.critical {
  /* background-color: @red; */
}

#tray {
  padding: 0 2px;
  border-right: 1px solid @border;
}

#idle_inhibitor {
  /* background-color: @rosewater; */
}

#cpu {
  /* background-color: @sky; */
}


#custom-mediaplayer {
  /* background-color: @pink; */
}

#custom-power {
}

#memory {
  /* background-color: @mauve; */
}

#battery {
  /* background-color: @green; */
}

#power-profiles-daemon {
  /* background-color: @red; */
  /* padding-right: 7px; */
}

#power-profiles-daemon.performance {
  /* background-color: @red; */
}

#power-profiles-daemon.balanced {
  /* background-color: @yellow; */
}

#power-profiles-daemon.power-saver {
  /* background-color: @teal; */
}

#battery.warning,
#battery.critical,
#battery.urgent {
}

#battery.charging {
}

#backlight {
  /* background-color: @maroon; */
}

#pulseaudio {
  /* background-color: @peach; */
}

#network {
  /* background-color: @yellow; */
}

#clock {
  /* background-color: @lavender; */
}

#custom-power {
  /* background-color: @teal; */
}

#tooltip {
  border-radius: 2px;
  padding: 15px;
  background-color: #131822;
}

#tooltip label {
  padding: 5px;
  background-color: #131822;
}
