@import "./mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Noto Sans Condensed SemiBold';
  font-size: 17px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 3px 12px;
  margin: 3px 3px;
  border-radius: 2px;
  background-color: #1e1e2e;
  color: @text;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: @blue;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @crust;
  background-color: @subtext1;
}

#workspaces button.urgent {
  background-color: @red;
}

#memory,
/* #custom-power, */
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#power-profiles-daemon,
#custom-mediaplayer,
#idle_inhibitor,
#cpu,
#tray {
  border-radius: 2px;
  margin: 3px 3px;
  padding: 3px 12px;
  background-color: @blue;
  color: #181825;
}

#idle_inhibitor {
  background-color: @rosewater;
}

#cpu {
  background-color: @sky;
}


#custom-mediaplayer {
  background-color: @pink;
}

#custom-power {
  margin-right: 6px;
}

/* #custom-logo { */
/*   padding-right: 7px; */
/*   padding-left: 7px; */
/*   margin-left: 5px; */
/*   font-size: 15px; */
/*   border-radius: 8px 0px 0px 8px; */
/*   color: #1793d1; */
/* } */

#memory {
  background-color: @mauve;
}

#battery {
  background-color: @green;
}

#power-profiles-daemon {
  background-color: @red;
}

#power-profiles-daemon.performance {
  background-color: @red;
}

#power-profiles-daemon.balanced {
  background-color: @yellow;
}

#power-profiles-daemon.power-saver {
  background-color: @teal;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @red;
  color: @yellow;
}

#battery.charging {
  background-color: @green;
  color: #181825;
}

#backlight {
  background-color: @maroon;
}

#pulseaudio {
  background-color: @peach;
}

#network {
  background-color: @yellow;
  /* padding-right: 17px; */
}

#clock {
  background-color: @lavender;
}

#custom-power {
  background-color: @teal;
}

#tooltip {
  border-radius: 2px;
  padding: 15px;
  background-color: #131822;
}

#tooltip label {
  padding: 5px;
  background-color: #131822;
}
