@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;
* {
  font-family: FontAwesome, "monospace";
  font-weight: 400;
  font-size: 14px;
  border-radius: 0.5em;
}

window#waybar {
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0em;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.solo {
  background-color: @text;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
}

box {
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  color: @iris;
}

#workspaces {
  background-color: @overlay;
  border: 1px solid @muted;
}

#workspaces label {
  font-size: 20px;
}

#workspaces button {
  padding: 0 0.45em;
  background-color: @overlay;
  color: @text;
}

#workspaces button.active {
  color: @rose;
}

#workspaces button.urgent {
  background-color: @love;
  color: @text;
}

/* Add spacing for right side modules */
#tray {
  padding: 0 1em;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language,
#power-profiles-daemon {
  padding: 0 8px;
  color: @text;
  background-color: @pine;
}

#window,
#workspaces {
  margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  /*background-color: @maroon;*/
  /*color: @base;*/
}

#battery {
  /*background-color: @blue;*/
  /*color: @base;*/
}

#battery.charging,
#battery.plugged {
  /*color: @base;*/
  /*background-color: @green;*/
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @love;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  /*background-color: @base;*/
}

#cpu {
  /*background-color: @teal;*/
  /*color: @base;*/
}

#memory {
  /*background-color: @pink;*/
  /*color: @base;*/
}

#backlight {
  /*background-color: @yellow;*/
  /*color: @base;*/
}

#network {
  /*background-color: @blue;*/
  /*color: @base;*/
}

#network.disconnected {
  /*background-color: #f53c3c;*/
}

#pulseaudio {
  /*background-color: @rosewater;*/
  /*color: @base;*/
}

#pulseaudio.muted {
  /*background-color: #90b1b1;*/
  /*color: #2a5c45;*/
}


#temperature {
  /*background-color: @peach;*/
  /*color: @base;*/
}

#temperature.critical {
  /*background-color: @love;*/
}

#tray {
  /*background-color: @mantle;*/
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: @surface;
  color: @muted;
}

#idle_inhibitor.activated {
  color: @text;
}

#language {
  /*background: @mauve;*/
  /*color: @base;*/
}

